<div class="container-fluid mainheader shadow p-3">
    <a href="#"><img class="mainlogo" src="../styles/images/facebook_cover_photo.jpg"></a>
</div>
<nav class="navbar sticky-top navbar-dark bg-dark container-fluid m-0 shadow">
    <a href="" class="navbar-brand text-light text-center">Log in</a>
    <a href="" class="navbar-brand text-light text-center">Create an Account</a>
    <a href="/post" class="navbar-brand text-light font-weight-bold text-center"><u>Post a Part</u></a>
    <form class="form-inline">
      <input class="form-control mr-sm-2 bg-dark searchbar" type="search" placeholder="Search" aria-label="Search">
      <button class="text-primary btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<br>
<h3 class="text-center font-weight-bold listingstitle"><u>Listings:</u></h3>
<div class="container">
  <br>
    <div class="row">
      <div id="example-list" class="partsdiv">
        {{#each Part}}
        <div data-id="{{this.id}}" class="card partcard">
          <img class="partimg" src="{{this.url}}">
          <div class="card-body">
            <h5>{{this.name}}</h5>
            <p>Category: {{this.category}}</p>
            <p>Price: ${{this.price}}</p>
            <a href="part/{{this.id}}">Select</a>
          </div>

            {{!-- <button class="btn btn-danger float-right delete">ｘ</button> --}}
            {{!-- old delete button, save for later --}}
          </div>
          {{/each}}
      </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
