<div class="container-fluid mainheader shadow p-3">
    <a href="/"><img class="mainlogo" src="../styles/images/facebook_cover_photo.jpg"></a>
</div>
<nav class="navbar sticky-top navbar-dark bg-dark container-fluid m-0 shadow">
    <a href="/signin" class="navbar-brand text-light text-center">Log in</a>
    <a href="/signup" class="navbar-brand text-light text-center">Create an Account</a>
    <a href="/post" class="navbar-brand text-light font-weight-bold text-center"><u>Post a Part</u></a>
    <form class="form-inline">
      <input class="form-control mr-sm-2 bg-dark searchbar" type="search" placeholder="Search" aria-label="Search">
      <button class="text-primary btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div data-id="{{part.id}}" class="card-body indvpart">
          <img class="idpartimg mb-4" src="{{part.url}}">
          <p>
            <strong>Description</strong>: {{part.name}}
          </p>
          <p>
            <strong>Category</strong>: {{part.category}}
          </p>
          <p>
            <strong>Price:</strong>: ${{part.price}}</p>
            <a href="/">← Back To Home</a>
          <button class="btn btn-primary ml-5 bg-success" id="deletebtn" type="button">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>